$mainColor: #5A8DFF;
$secondaryColor: #FF5A5A;
$tertiaryColor: #5AFF5A;
$quaternaryColor: #FF5AFF;
$quinaryColor: #5A5AFF;
$senaryColor: #FFA55A;
$borderColor : #5C5C5C;
$categorySize : 585px;

@font-face {
  font-family: roboto;
  src: url('./fonts/ROTOBO/Roboto-Regular.ttf');
}

@font-face {
  font-family: noto;
  src: url('./fonts/Noto_Sans/NotoSans-Regular.ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'noto';

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0;
  }

  li,
  a,
  button {
    font-size: 16px;

    text-decoration: none;
  }
}




// navbar
.nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background-color: white;
  width: 100%;
  height: 80px;


  .img {
    position: relative;
    width: 180px;
    margin-left: 4rem;
    cursor: pointer;
  }

  .links {
    display: flex;
    flex-grow: 2;
    list-style: none;
    padding-left: 20px;
    margin: 0;

    li {
      padding: 0 20px;

      cursor: pointer;
      line-height: 80px;

      a {
        color: $mainColor;
      }
    }
  }

  .nav__btn {
    display: flex;
    width: 300px;
    justify-content: space-evenly;

    .reserve,
    .profile {
      color: white;
      background-color: #5A8DFF;
      padding: 0 28px;
      height: 38px;
      border-radius: 20px;
      border: none;
      font-size: 14px;
      cursor: pointer;
    }

  }

  .subnav {
    position: absolute;
    top: 100px;
  }
}

// Footer

.footer {
  position: relative;
  display: flex;
  width: 100%;
  padding-top: 40px;
  background-color: white;
  height: 220px;
  color: $mainColor;

  .leftContainer {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    width: 40%;
    align-items: flex-start;

    .together {
      width: 150px;
      position: absolute;
      top: 30px;
      left: 30px;
    }

    .email,
    .tel {
      font-size: 16px;
      padding: 5px 0px;
    }

    .copyright {
      margin: 0px;
      font-size: 16px;
      color: $mainColor;
    }


  }

  // Right Container
  .rightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;

    .links {
      display: flex;
      list-style: none;

      li {
        color: white;
        font-size: 22px;
        padding: 0 80px;

        a {
          color: white;

          &:hover {
            color: black;
          }
        }
      }
    }

    .logos {
      display: flex;
      justify-content: space-between;
      font-size: 22px;
      padding-top: 40px;

      .logo {
        width: 30px;
        height: 30px;
        padding: 0 80px;
        transition: all 200ms ease-in;
        cursor: pointer;
      }
    }
  }
}

// Footer끝


// Home
.main {
  .mainBanner {
    height: 100vh;

    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }

    h1 {
      position: absolute;
      text-align: center;
      top: 20%;
      left: 35%;
      font-size: 50px;
      color: #ffff;
    }
  }

  .move {}

  .banner {
    overflow: hidden;
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    object-fit: cover;
  }

}


html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}